In [104]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from keras.models import Sequential,load_model
from keras.layers import Dense, Dropout

In [105]:
predictor=load_model("models\\diabetes_predictor")

In [134]:
df = pd.read_csv('dataset\\diabetes_prediction_dataset.csv')

In [135]:
f=open("encodedlabels.txt","r")
txt=f.readline()
le1=LabelEncoder()
c1=txt.split(", ")
c1[-1]=c1[-1][:-1]
print(c1)

txt=f.readline()
le2=LabelEncoder()
c2=txt.split(", ")
c2[-1]=c2[-1]
print(c2)

le1.classes_=c1
le2.classes_=c2

['Female', 'Male', 'Other']
['No Info', 'current', 'ever', 'former', 'never', 'not current']

In [139]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0

In [138]:
df["gender"]=le1.transform(df["gender"])
df["smoking_history"]=le2.transform(df["smoking_history"])

In [140]:

test=df[df["diabetes"]==1]
test=test.iloc[:,:-1]
test

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
6,0,44.0,0,0,4,19.31,6.5,200
26,1,67.0,0,1,5,27.32,6.5,200
38,1,50.0,1,0,1,27.32,5.7,260
40,1,73.0,0,0,3,25.91,9.0,160
53,0,53.0,0,0,3,27.32,7.0,159
...,...,...,...,...,...,...,...,...
99935,0,65.0,1,1,4,33.55,8.2,140
99938,1,55.0,0,1,3,30.42,6.2,300
99957,0,61.0,0,0,0,34.45,6.5,280
99962,0,58.0,1,0,4,38.31,7.0,200
99979,0,61.0,0,0,1,30.11,6.2,240

In [142]:
a=predictor.predict(test)

266/266 [==============================] - 1s 1ms/step

In [195]:
a.min(),a.max()
print(len(a))
print(len([i for i in a if i>0.1]))

8500
6724

In [144]:

test2=df[df["diabetes"]==0]
test2=test2.iloc[:,:-1]
test2

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,0,80.0,0,1,4,25.19,6.6,140
1,0,54.0,0,0,0,27.32,6.6,80
2,1,28.0,0,0,4,27.32,5.7,158
3,0,36.0,0,0,1,23.45,5.0,155
4,1,76.0,1,1,1,20.14,4.8,155
...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,90
99996,0,2.0,0,0,0,17.37,6.5,100
99997,1,66.0,0,0,3,27.83,5.7,155
99998,0,24.0,0,0,4,35.42,4.0,100
99999,0,57.0,0,0,1,22.43,6.6,90

In [145]:
b=predictor.predict(test2)

2860/2860 [==============================] - 4s 1ms/step

In [194]:
b.min(),b.max()
print(len(b))
print(len([i for i in b if i>0.1]))

91500
6221

In [196]:
predictor.predict(test2.iloc[0:1,:])

1/1 [==============================] - 0s 40ms/step

array([[0.16618231]], dtype=float32)